<!DOCTYPE html>
<html>
  <head>
    <title>PolzaTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |(type, message)| %>
      <div>
        <span><%= message %></span>
      </div>
    <% end %>
    <%= link_to 'Main', root_path %>
    <%= link_to 'New Dishes', new_dishes_path %>
    <%= link_to 'Cooking order', cooking_order_path(format: :json) %>
    <%= yield %>
  </body>
</html>
